$primary-color: #fff;
$secondary-color: rgb(94, 90, 89);
$contrast-color: #222;

$accent-color: #2fa1c3;
$accent-color-trans: #2fa1c375;
$accent-color-dark: #1e7c99;
$accent-color-dark-trans: #1e7c9975;
